{{!< layout}}
<script src="{{baseUrl}}/js/issueglance.js"></script>

<section class="aui-page-panel-item">
  <div class="aui-group">
    <div class="aui-item">
      <button class="aui-button aui-button-primary" id="say-hello-button">Grab Issue Details</button>
      </br>
      </br>
      <span id="helloTarget"></span>
  </div>
</section>

<script>
  AJS.$(document).on('click', '#say-hello-button', function() {
    var that = this;

      $.ajax("/get-issue-data?jwt={{token}}&issueKey=" + get("issueKey"), {
        "error": function (xhr, textStatus, errorThrown) {
            //console.log(arguments);

            //setAddonData("Could not retrieve addon data: " + textStatus + " – " + errorThrown);
        },
        "success": function (data) {
            console.log("success");
            console.log(typeof(data));
            var parseData = JSON.parse(data);
            var nameOf = parseData.fields.summary;
            var issueType = parseData.fields.issuetype.name;
            var issueTypeId = parseData.fields.issuetype.id;
            var projectName = parseData.fields.project.name;

            $("#helloTarget")[0].innerHTML = "Name: " + nameOf + "</br></br>Issue Type: " + issueType + "</br></br>Issue Type ID: " + issueTypeId + "</br></br>Project Name: " + projectName;
        }
      });
      return false;
    
});
</script>