{{!< layout}}
<script src="/js/issueglance.js"></script>
<body>
<div id="app-root"></div>
</body>
<script>
	var jwt_token = "{{token}}";
	var assignee_stat = "{{assignee_stats}}";
	assignee_stat = JSON.parse(assignee_stat.replace(/&quot;/g,'"'));
	var predictions = "{{predictions}}";
	var evaluation_setting = "{{evaluation_setting}}"
	predictions = JSON.parse(predictions.replace(/&quot;/g,'"'));
	console.log(JSON.stringify(predictions));
	console.log(assignee_stat);
	console.log(jwt_token);
	get_stored_status(render_from_status);
</script>