{{!< layout}}
<script src="/js/issueglance.js"></script>
<body>
<div id="app-root"></div>
</body>
<script>
	var jwt_token = "{{token}}";
	var resultObject = { };
	var features = { };
	get_evaulation_and_render();
</script>