{{!< layout}}
<body>
<div id="app-root"></div>
</body>
<script>
	var jwt_token = "{{token}}";
	var assignee_stat = "{{assignee_stats}}";
	assignee_stat = JSON.parse(assignee_stat.replace(/&quot;/g,'"'));
	console.log(assignee_stat);
	console.log(jwt_token);
	addon.render();
</script>