{{!< layout}}
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
      <h1>Projects</h1>

      <p class="subtitle">{{title}}</p>
    </div>
  </div>
</header>

<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div class="aui-item">

          <p class="projects">
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<script>
  $(document).ready(function () {
    let jiraAPIBuilder = new APIBuilder();
    jiraAPIBuilder.url = "/rest/api/2/project/search";
    jiraAPIBuilder.parameters = {startAt:"0", maxResults: "100", orderBy:"category"};

    let failure = function(xhr, textStatus, errorThrown){
      console.log(errorThrown);
    };

    let runner = new APIRunner(jiraAPIBuilder);
    runner.failure = failure;
    runner.success = function(projects){

      if (projects.total > 0)
      {
        for (let i = 0; i < projects.total; ++i)
        {
          let jiraAPIBuilder = new APIBuilder();
          let projectId = projects.values[i].id;
          jiraAPIBuilder.url = `/rest/api/3/project/${projectId}/properties`;
          jiraAPIBuilder.parameters = {};

          let runner = new APIRunner(jiraAPIBuilder);
          runner.failure = failure;
          runner.success = function(properties){

            for (let i = 0; i < properties.keys.length; ++i)
            {
              let propertyKey = properties.keys[i].key;

              let jiraAPIBuilder = new APIBuilder();
              jiraAPIBuilder.url = `/rest/api/3/project/${projectId}/properties/${propertyKey}`;
              jiraAPIBuilder.parameters = {};

              let runner = new APIRunner(jiraAPIBuilder);
              runner.failure = failure;
              runner.success = function(data){
                $(".projects")
                  .append('<code>')
                  .text(`${projectId}: ${JSON.stringify(data)}`);
              };
              
              runner.run();
            }
          };

          runner.run();
        }
      }
    };

    runner.run();
  });

</script>