{{!< layout}}
<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div class="aui-item">
          <p>
            Profile user key: {{userKey}}
          </p>
          <p>
            Profile user name: {{userName}}
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
